* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1200px;
    margin: 0 auto;

}

.heder-section {

    width: 100%;
    height: 600px;
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.heder-containt {
    display: flex;
    justify-content: center;
}

.heder-artical {
    margin-top: 150px;
    width: 40%;


}

.heder-artical h1 {
    color: whitesmoke;
    font-size: 70px;
    font-weight: 800;

}

.heder-artical h4 {
    color: whitesmoke;
    font-size: 30px;
    margin-top: 20px;
}

.heder-artical p {
    color: whitesmoke;
    font-size: 20px;
    margin-top: 20px;
    text-align: justify;
}

.heder-artical button {
    margin-top: 20px;
    font-size: 30px;
    background-color: wheat;
    font-weight: 400;
    padding: 5px 15px;
    border-radius: 10px;
    border: none;

}

.heder-artical button:hover {
    border: 2px solid rgb(99, 98, 98);

}

.heder-artical a {
    text-decoration: none;
}

.main-section {
    width: 100%;
    height: 450px;
    padding-top: 60px;

}

.main-section-grid {
    display: grid;
    grid-template-columns: auto 20% 20% 20%;
    gap: 20px;

}

.weight-loss {}

.wl-card-1 {
    padding: 40px;
}

.wl-card-1 h2 {
    font-size: 3em;

}

.wl-card-1 p {
    font-size: 1.5em;
    padding: 20px 0;
    text-align: justify;
}

.wl-card-1 button {
    background-color: black;
    border: none;
    border-radius: 3px;
    padding: 10px 30px;

}

.wl-card-1 button:hover {
    background-color: rgb(48, 48, 48);
}

.wl-card-1 button a {
    text-decoration: none;
    font-size: 2em;
    color: aliceblue;

}

.wl-card-2 {
    background-color: #6949A0;
    color: white;
    text-align: center;
    padding: 40px 30px;
}


.fa-blender,
.fa-solid {
    font-size: 4em;
}

.wl-card-2 h2 {
    font-size: 2em;
    padding-top: 20px;
}

.wl-card-2 p {
    font-size: 1.5em;
    padding-top: 20px;

}

.card-bg-color {
    background-color: rgb(157, 4, 4);
}

.card-bg-color-1 {
    background-color: black;
}

@media screen and (max-width:576px) {

    .main-section-grid {

        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width:577px) and (max-width:800px) {
    .main-section-grid {

        grid-template-columns: repeat(2, 1fr);
    }
}